<link rel="stylesheet" href="//www.lowescdn.com/scaffold/1.3.0/css/scaffold-large.min.css"/>
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<div class=" clearfix" data-drawer="account">
<div class="grid-55 tablet-grid-55">
<div class="login">
<span class="h1 position-centered mylowes-tm v-spacing-large">my<span class="strong">lowes</span></span>
<div class="accessmylowes">
<div class="signin-container">
<div class="js-accessmylowes account-carousel" data-message="<p>Thanks!</p>
<p>Check your email for a link to reset your password. <strong> The link will expire in 30 minutes. </strong> If you don't see the email, be sure to check your spam and junk mail folders.</p>
" data-options="{&quot;inModal&quot;:true}">
<div class="grid-100 tablet-grid-100 mobile-grid-100">
<div class="js-account-login">
<span id="ada-login-form-labelledby" class="ada screen-reader-only">Login</span>
<form id="login" class="js-login-form v-spacing-small" aria-labelledby="ada-login-form" role="form" autocomplete="on" method="post" action="/">
<div class="form-group">
<input aria-labelledby="ada-login-username-labelledby" name="username" type="text" class="form-control" id="logon-username-input" placeholder="User Name" autocompletetype="username">
<span class="inline-help" hidden="" aria-hidden="true">yourname</span>
<span id="ada-login-username-labelledby" class="ada screen-reader-only" hidden="" aria-hidden="true">Please Enter Your Email Address</span>
</div>
<div class="form-group v-spacing-large">
<input aria-labelledby="ada-login-password-labelledby" type="password" name="password" class="form-control" id="logon-password-input" placeholder="Password">
<span hidden="" class="inline-help" aria-hidden="true">Enter Your Password</span>
<span id="ada-login-password-labelledby" class="ada screen-reader-only" hidden="" aria-hidden="true">Enter Your Password</span>
</div>
<button class="btn btn-primary js-sign-in btn-block" data-linkid="sign_in" type="submit">Sign In</button>
</form>
<div class="align-center">
<a href="#" class="js-goto-forgot link-small">Forgot Your Password?</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="joinmylowes">
<div class="grid-45 tablet-grid-45">
<!-- Join mylowes authorable section -->
<div class="join-mylowes">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icon-close"></i></button>
<h3>Join my<span class="mylowes-tm">lowes</span></h3>
<div class="trench no-background no-border v-spacing-jumbo">
<ul tabindex="0" role="list" class="list icon darkerGrey">
<li role="listitem">
<i class="icon-todo" aria-hidden="true"></i>Free Standard Parcel Shipping With MyLowe’s.
</li>
<li role="listitem">
<i class="icon-todo" aria-hidden="true"></i>Track your in-store purchases.
</li>
<li role="listitem">
<i class="icon-todo" aria-hidden="true"></i>Make returns without a receipt.
</li>
<li role="listitem">
<i class="icon-todo" aria-hidden="true"></i>Access your saved products.
</li>
</ul>
</div>
<!-- Authorable Join now links -->
<div class="bottom-links align-center">
<a href="/register"  class="btn btn-secondary btn-block v-spacing-small">Register</a>
</div>
</div>
</div></div>
</div>
</div>
<div class="modal-footer">
<div class="par parsys"><div class="parbase section bannerreference">
<div class="banner_reference">
<div style="display:inline;" class="cq-dd-paragraph">
<link rel="stylesheet" href="/etc/clientlibs/lowes-mobile-first/components/content/scaledbanner.min.css" type="text/css">
<div class="v-spacing-large scaled_banner_container">
<a href="/cd_Lowes+Consumer+Credit+Center_739786611_?storeId=10151&amp;langId=-1&amp;catalogId=10051" target="_top">
</a>
<div class="s7_banner copyTA">
<div class="banner_text scaled_hidden_text">
</div>
<div class="trench no-background no-border align-left get_details">
</div>
</div>
</div>
</div>
</div></div>
</div>
</div>
</div>
</div>
</div>